<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Django SHOP</title>
        <style>
            .fixed-size-card {
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        </style>
    </head>
    <body class="container mt-5">
        <div class="alert alert-info display-1 text-center">Electrónica</div>

        <div class="container mt-5">
            <h1 class="text-center">Productos de Electrónica</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-light mb-3 fixed-size-card">
                        <div class="card-body text-center">
                          <h1>ESTE ES UN COMPUTADOR</h1>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-secondary btn-lg btn-block mt-4" onclick="history.back()">Descripción</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3 fixed-size-card">
                        <div class="card-body text-center">
                            <img src="{% static 'img/consola.jpg' %}" alt="Imagen 2" class="img-fluid rounded">
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-secondary btn-lg btn-block mt-4" onclick="history.back()">Descripción</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3 fixed-size-card">
                        <div class="card-body text-center">
                            <img src="{% static 'img/parlantes.jpg' %}" alt="Imagen 3" class="img-fluid rounded">
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-secondary btn-lg btn-block mt-4" onclick="history.back()">Descripción</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button>
            </div>
        </div>
        
    
    </body>
</html>