<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Django SHOP</title>
    </head>
    <body class="container mt-5">
        <div class="alert alert-info display-1 text-center">USUARIO</div>

        
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">

                    <img src= "{%static 'img/perfil.png' %}" alt="Imagen de perfil" class="img-fluid rounded-circle shadow">
                </div>
                <div class="col-md-8">
                    <h1 class="display-4">Usuario: Christian Loyola</h1>
                    <p class="lead">Email: christian.loyola06@inacapmail.cl</p>
                    <p class="lead">Ubicación: Temuco, Chile</p>
                    <p class="lead">Descripción del usuario: Alcanzó a terminar la prueba a tiempo C: </p>
                    <p class="lead">Intereses: Django</p>
    
                    <a href="" class="btn btn-primary btn-lg">Editar Perfil</a>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button>
            </div>
        </div>
        
    
    </>
</html>